/* Reset do CSS (padrões do navegador) */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
@font-face {
    font-family: Paranorgers;
    src: url('../fonts/Inter.ttf')
}
body  {
    background-color: #242424;
    font-family: 'Inter', sans-serif;
    color: #ffffff
}
#topo {
    width: 100%;
    height: 65px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    text-align: left;
    display: block;
}
#botao_home img {
    width: 55px;
    padding-top: 10px;
    padding-left: 10px;
}
#botao_home p {
    text-decoration: none;
    color: #ffffff;
    font-weight: 750;
    text-align: left;
    margin-top: -35px;
    margin-left: 65px;
}
#botao_home p:hover {
    text-decoration: none;
    color:#e200e9;
    border: none;
    border-radius: 6px;
    position: fixed;
    cursor: pointer;
    transition-property: none;
    transition-duration: 1s;
    transition-timing-function: linear;
}
/*#botao_home p:visited {

}*/