* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
 }
@font-face {
    font-family: Paranorgers;
    src: url('../fonts/Ultra.ttf')
}
header {
    padding: 2%;
}
h1 {
    font-family: Paranorgers;
    font-style: bold;
    font-size: 500%;
    text-align: center;
    color: #ffffff;
}
body {
    background:  #242424;
    padding: 5%;
}