/* Truque de alinhamento de elementos
#profile {
    text-align: center;
    padding: 24px;
}*/

* { /*Reset do CSS (para padrões do navegador)*/
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

@font-face { /*Fonte principal para toda a página*/
    font-family: Paranorgers;
    src: url('../fonts/Ultra.ttf')
}

body * {
    font-family: 'Inter', sans-serif;
}

#topo {
    width: 100px;
    height: 200px;
    border: 5px #ff0000;
}